
body {
  background:#EFEFEF;
  font-family: 'Nunito', sans-serif;
}

.black {
  color: black;
}

.main_color {
  color: #272727;
}

.mainpage {
  display:flex;
  padding: 0 .5rem;
  width: 100%;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin-top: 15px;
  text-align: center;
}

.navbar-brand {
  display: none;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav  li {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.navbar-nav  li a:hover {
  background-color: rgb(63,251,230);
  background: linear-gradient(180deg, rgba(63,251,230,1) 0%, rgba(70,162,252,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.banner {
  padding: 5rem 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.banner_2 {
  vertical-align: middle;
  margin-top: 2%;
  padding: 100px;
  background-color:#eff2f9;
  
  border-radius: 60px;
  box-shadow: 5px 5px 10px #b5bfc6 inset;
}

.Heading {
  font-size: 64px;
  cursor: default;
  font-family: "Prompt";
}

.heading2 {
  font-size: 54px;
  cursor: default;
  font-family: "Prompt";
}

.gradient {
  background-color: rgb(63,251,230);
  background: linear-gradient(180deg, rgba(63,251,230,1) 0%, rgba(70,162,252,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.sub_heading {
  font-size: 36px;
  cursor: default;
}
/* #banner {
  width: 100%;
  height: 100%;
} */



.center {
  text-align: center;
  margin: auto;
}

.content {
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  font-family: "Prompt";

}

.content_padding {
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.text_content {
  font-size: 22px;
  color: #030303;
  text-align: left;
  cursor: default;
}

.text_shadow {
  font-size: 50px;
  background-color: #030303;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.form-control {
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 10px #b5bfc6 inset;
  margin: 2%;
}

.line {
  padding-right: 30px;
  border-right: 2px solid #6e7f8d;
}

#info {
  padding: 5%;
}

.btn {
  margin: 3%;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(63,251,230);
  background: linear-gradient(180deg, rgba(63,251,230,1) 0%, rgba(70,162,252,1) 100%);
  border: 0px none ;
}

.dp {
  width: 250px;
  border-radius: 20px;
}

.footer {
  padding: 35px;
  border-radius: 0px;
  position: relative;
  bottom: 0px;
  width: 100%;
}

.fa {
  padding: 10px;
  font-size: 20px;
  max-width: fit-content;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  align-content: center;
}

.fa:hover {
  opacity: 0.9;
}

.fa-github {
background: black;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

.fa-gitlab {
  background: #f86b2e;
  color: white;
}

@media (max-width: 500px) {

  .mainpage {
    display:flex;
    padding: 0 .5rem;
    width: 100%;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .banner{
    padding: 40px;
    border-radius: 30px;
  }

  .banner_2 {
    border-radius: 40px;
    padding: 17px;
    box-shadow: 3px 3px 5px #b5bfc6 inset;
  }

  .Heading {
    font-size: 36px;
  }

  .sub_heading {
    font-size: 18px;
  }

  .content_padding {
    padding: 25px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text_content {
    font-size: 17px;
  }

  .text_shadow {
    font-size: 40px;
  }

  .navbar {
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .content {
    font-size: 33px;
  }

  .footer {
    font-size: x-small;
  }

}

@media (max-width: 380px) {
  .Heading {
    font-size: 26px;
  }

  .content_padding {
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
